<body id="dashboard">
      <section>

        {{#each users}}
            <div class="container">
                <div id="user-card" class="d-flex justify-content-center p-3">
                    <div class="card col-12">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{inputfirstname}} {{inputlastname}}</label></h5>
                            <p>{{role}}</p>
                            <p>{{instrument}}</p>
                            <p>{{style}}</p>
                            <button class="btn btn-outline-primary p-2" href="mailto:{{email}}"><i class="far fa-envelope"></i> {{email}}</button>     
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <p>No other users</p>
        {{/each}}



      </section> 
</body>